<div class="row">
  <%= f.label :descripcion, 'Criterio de Verificacion' %><br>
  <%= f.text_area :description, class: 'form-control tiny-text-area verificationField' %>
  <!--<button type="button" class="btn btn-danger btn-sm removeField" onclick="removeField()">Quitar campo</button><br>-->
</div>